.main {
  background-color: #FFF9F3;
  flex: 1;
  padding: 30px 40px;
  display: flex;
  flex-direction: column;
  gap: 30px;
  box-sizing: border-box;
  overflow-y: auto;
}

.actionButton {
  background-color: #FFFFFF;
  padding: 25px 30px;
  border-radius: 8px;
  box-shadow: 0 2px 5px rgba(0,0,0,0.1);
  font-weight: bold;
  font-size: 1.2rem;
  color: #000000;
  cursor: pointer;
  max-width: 400px;
  text-align: center;
  text-decoration: none;
}

.listTitle {
  font-weight: bold;
  font-size: 1.2rem;
  color: #000000;
}