.background {
  background-color: #fee3d0;
  height: 100vh;
  width: 100vw;
  position: relative;
  font-family: sans-serif;
}

.centerBox {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

.error {
  color: #e74c3c;
  font-size: 0.9rem;
  margin-top: -10px;
  margin-bottom: 10px;
  text-align: left;
}

.logo {
  width: 500px;
  margin-bottom: 1rem;
  pointer-events: none;
  cursor: default;
}

.form {
  width: 320px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.input {
  width: 100%;
  background-color: transparent;
  border: none;
  border-bottom: 2px solid #585858;
  padding: 12px 8px;
  margin-bottom: 2rem;
  font-size: 1rem;
  text-align: center;
  color: #333;
}

.loginButton {
  width: 100%;
  padding: 14px;
  background-color: #f58220;
  color: #ffffff;
  border: none;
  border-radius: 8px;
  font-size: 1.2rem;
  font-weight: bold;
  cursor: pointer;
  margin-top: 1rem;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
}

.title {
  color: #000000;
}

.signInLink {
  color: #000000;
}